@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: bree-web, Bree, sans-serif;
    font: 14px/23px proxima-nova-alt, "Proxima Nova Alt", sans-serif;
    color: #14191e;
    font-weight: inherit;
}

header.mj_header {
    width: 100%;
    height: 133px;
}

.mj_header .mj_info_nav {
    width: 100%;
    height: 39px;
    background: #EEEEEE;
}

.w-1000 {
    width: 1100px;
}

.clear-both:after,
.clear-both:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.mj_header .mj_info_nav .mj_nav {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 39px;
    line-height: 39px;
    font-size: 12px;
}

.mj_header .mj_info_nav .mj_nav .mj_nav_rigth a {
    color: #000000;
}

.mj_header .mj_info_nav .mj_nav .hot_phone {
    display: block;
    float: left;
}

.mj_header .mj_info_nav .mj_nav .mj_nav_rigth {
    float: right;
}


/** 导航菜单 开始部分 */

.mj_menu_nav {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 94px;
}

.mj_menu_nav > ul.mj_menu {
    position: relative;
    width: 658px;
    float: right;
}

.mj_menu_nav > ul.mj_menu >li {
    position: relative;
    display: inline-block;
    height: 94px;
    width: 94px;
    float: left;
    line-height: 94px;
    text-align: center;
    cursor: pointer;
}

.mj_menu_nav > ul.mj_menu >li >a {
	display:block;
    color: #000000;
}

.mj_menu_nav > ul.mj_menu >li:hover::after {
    position: absolute;
    display: block;
    content: " ";
    width: 94px; 
    height: 3px;
    background: #419dd1;
    bottom: 0;
}

.mj_menu_nav > ul.mj_menu >li:hover {
    background: #f9f9fa;
    -webkit-box-shadow: 1px 1px 3px #f9f9fa inset;
    -moz-box-shadow: 1px 1px 3px #f9f9fa inset;
    box-shadow: 1px 1px 3px #f9f9fa inset;
}


/** 导航菜单 结束部分 */


/** 中间开始部分 */

.mj_content {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    height: 332px;
}

.mj_content .mj_box {
    position: relative;
    float: left;
    overflow: hidden;
    width: 218px;
    height: 217px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    text-align: center;
    margin-left: 70px;
}

.mj_content .mj_box.box_left {
    margin-left: 150px;
}

.mj_content .mj_box.box_right {
    margin-right: 150px;
}

.mj_content .mj_content_box {
    position: relative;
    width: 80%;
    height: 134px;
    border-bottom: 1px dotted #c1c1c1;
    margin: 0 auto;
    text-align: center;
}

.mj_menu_nav img.logo {
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mj_content .mj_content_box img {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.mj_content .mj_content_box h5 {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: #43a0a5;
}

.mj_content .mj_box >p {
    width: 80%;
    font-size: 12px;
    color: #c1c1c1;
    padding: 10px;
    margin: 0 auto;
}

.mi_about_us_box img.mj_icon_wen {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 999;
}

.mi_about_us_box .mj_about_us_box_1 {
    position: relative;
    width: 100%;
    min-height:650px;
    background: #c1c1c1;
    margin-top: 40px;
    margin-bottom: 20px;
}

.mi_about_us_box .box {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 54px;
}

.mi_about_us_box .box h4.mj_title {
    font-size: 18px;
    font-weight: bold;
    color: #272727;
    letter-spacing: 2px;
}

.line {
    display: block;
    width: 197px;
    height: 2px;
    background: #c9c9c9;
    position: relative;
    top: 10px;
}

.mj_st {
    margin: 0 10px;
    color: #d4d6d7;
    font-size: 12px;
    font-weight: lighter;
}

.mi_about_us_box .box .line_box {
    width: 46%;
    margin: 0 auto;
}

.mi_about_us_box .box .line_box span {
    float: left;
}

.mi_about_us_box .box .mj_article {
    margin-top: 20px;
    text-align: left;
    color: #808081;
    height: 250px;
    overflow: hidden;
}

.mj_box_banner .center {
    margin-bottom: 0;
}

.mj_box_banner .slick-next {
    right: 10px;
}

.mj_box_banner .slick-next:hover {
    opacity: 1;
}

.mj_box_banner .slick-prev:hover {
    opacity: 1;
}

.mj_box_banner .slick-prev {
    left: 10px;
}

.mj_box_banner {
    position: relative;
    margin: 0 auto!important;
    background: #ffffff;
    top: 50px;
    padding: 10px;
    width: 1000px;
    text-align: center;
    opacity: .8;
}

.mj_box_information {
    position: relative;
    margin: 0 auto;
    height: 178.82px;
}

.mj_box_information .mj_information_box {
    position: relative;
    margin: 0 auto;
}

.mj_box_information .mj_information_box img.mj_information_wen {
    position: relative;
    display: block;
    top: 58.30px;
}

.mj_box_information .mj_information_box .mj_line {
    margin: 0;
}

.mj_box_information .mj_information_box .mj_line.line_2 {
    margin-left: 57px;
    margin-top: 107px;
    width: 200px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    /* IE 9 */
    -moz-transform: rotate(50deg);
    /* Firefox */
    -webkit-transform: rotate(50deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(50deg);
}

.mj_information {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -95px;
}

.mj_information .line_box {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 505px;
}

.mj_information .line_box span.mj_st {
    display: block;
    float: left;
}

.mj_box_information .mj_information_content_box {
    background: url(../img/bg_02.png) no-repeat;
    /* width: 1440px;
    height: 472px;*/
    margin-top: 70px;
    background-size: 100% 100%;
    padding-bottom: 40px;
}

.mj_information .line_box span.line {
    display: block;
    float: left;
}

.mj_information_content_box {
    position: relative;
}

.mj_information_content_box .mj_information_box {
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
}

.mj_information_content_box .mj_information_box .mj_information_tab {
    width: 230px;
    margin-left: 10px;
}

.mj_information_content_box .mj_information_box .mj_information_tab .mj_tab {
    position: relative;
    display: inline-block;
    width: 106px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    color: #ffffff;
}

.mj_information_content_box .mj_information_box .mj_information_tab .mj_tab:hover {
    background: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    behavior: url("../css/ie-css3.htc");
    behavior: url("../css/ie-css3-radius.htc");
    color: #7fc1f0;
}

.mj_box_notice .slick-prev:before,
.mj_box_notice .slick-next:before {
    font-size: 0;
}

.mj_box_notice .slick-prev {
    width: 32px;
    height: 52px;
    top: 250px;
    left: 110px;
    background: url("../img/prev.png") no-repeat;
}

.mj_box_notice .slick-next {
    width: 32px;
    height: 52px;
    background: url("../img/next.png") no-repeat;
    right: 110px;
    top: 250px;
}

.mj_information_content_box .mj_box_notice {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 303px;
    float: right;
    height: 302px;
    margin-top: 26px;
}

.mj_information_content_box .mj_information_box .mj_information_tab .mj_tab.active {
    background: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    behavior: url("../css/ie-css3.htc");
    behavior: url("../css/ie-css3-radius.htc");
    color: #7fc1f0;
}

.mj_hidden {
    display: none!important;
}

.mj_information_content_box .mj_information_box ul.mj_new_information {
    position: relative;
    height: 338px;
    width: 699px;
    top: 4px;
    overflow: hidden;
}

.mj_information_content_box .mj_information_box ul.mj_new_information li a {
    color: #ffffff;
    font-weight: normal;
    font-size: 12px;
    margin-left: 11px;
}

.mj_information_content_box .mj_information_box ul.mj_new_information li {
    height: 53px;
    line-height: 53px;
    color: #ffffff;
    margin-left: 10px;
    border-bottom: 1px dotted #ffffff;
}

.mj_data_time {
    display: block;
    float: right;
    margin-right: 79px;
    font-weight: inherit;
    font-style: normal;
    font-variant: small-caps;
}

.mj_show {
    display: inline-block!important;
}

.mj_information_content_box .mj_information_box .mj_information_tab .mj_tab.active .mj_down {
    position: absolute;
    bottom: -9px;
    color: #ffffff;
    left: 50%;
    margin-left: -2px;
}

.mj_box_information .mj_information_box .mj_line.line_1 {
    margin-left: 57px;
    width: 200px;
    transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    /* IE 9 */
    -moz-transform: rotate(-50deg);
    /* Firefox */
    -webkit-transform: rotate(-50deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(-50deg);
}

.mj_line {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 100px;
    background: #d3e5e9;
    transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    /* IE 9 */
    -moz-transform: rotate(-50deg);
    /* Firefox */
    -webkit-transform: rotate(-50deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(-50deg);
    position: relative;
    left: -38px;
    top: 8px;
    z-index: -26;
}

.mj_contact {
    position: relative;
}

.mj_contact .mj_contact_box {
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 63px;
}

.mj_contact .mj_contact_box .mj_line.line_3 {
    position: absolute;
    margin-right: 0px;
    right: 0;
    top: -30px;
}

.mj_contact .mj_contact_box .mj_line.line_3 {
    width: 200px;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -o-transform: rotate(50deg);
}

.mj_contact .mj_contact_box .mj_contact_lian {
    display: block;
    float: right;
}

.mj_contact .mj_contact_box .mj_contact_box_1 {
    margin: 0 auto;
    text-align: center;
}

.mj_contact .mj_contact_box .line_box {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 505px;
}

.mj_contact .mj_contact_box .line_box span.line {
    display: block;
    float: left;
}

.mj_contact .mj_contact_box .line_box span.mj_st {
    display: block;
    float: left;
}

.mj_contact_box_content {
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 37px;
}

.mj_contact_box_content {
    width: 1100px;
    text-align: center;
}

.mj_contact_box_content .mj_contact_left {
    position: relative;
    float: left;
}

.mj_contact_box_content .mj_contact_left .mj_recode {
    width: 139.87px;
    height: 188.59px;
    border: 1px solid #ebebeb;
    float: left;
}

.mj_contact_box_content .mj_contact_left .mj_recode .mj_recode_img {
    display: block;
    padding: 8px;
}

.mj_contact_box_content .mj_contact_left ul.mj_contact_map {
    position: relative;
    float: left;
    text-align: left;
    margin-left: 34px;
}

.mj_contact_box_content .mj_contact_left ul.mj_contact_map li {
    padding: 5px 0;
}

.mj_contact_box_content .mj_contact_left ul.mj_contact_map li .mj_info {
    display: inline-block;
    margin-left: 20px;
    color: #989898;
    font-size: 14px;
}

.mj_contact_box_content .mj_contact_left ul.mj_contact_map li >i {
    color: #3c9cd3;
}

.map {
    position: relative;
    width: 100%;
    height: 200px;
    top: 20px;
}

.mj_contact_info_sub {
    position: relative;
    display: block;
    background: #3c9cd3;
    width: 98px;
    height: 30px;
    outline: none;
    border: 0;
    color: #ffffff;
}

.mj_contact_info_sub:hover {
    background: #165d85;
}

#container {
    width: 100%;
    height: 197px;
}

.mj_contact_box_content .mj_contact_right {
    position: relative;
    float: left;
    padding: 8px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-left: 40px;
}

.mj_contact_right .mj_control {
    height: 58px;
    width: 512px;
    margin-bottom: 20px;
}

.mj_control input.mj_contact_input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mj_control input.mj_contact_input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.mj_control label,
.mj_control input.mj_contact_input {
    display: block;
    float: none;
}

.mj_control input.mj_contact_input:focus {
    outline: none;
}

.mj_control label {
    color: #989898;
    margin-bottom: 5px;
    text-align: left;
}

footer {
    position: relative;
    width: 100%;
    height: 129px;
  /*   margin-top: 150px; */
  margin-top:-20px;
}

.mj_info_footer a {
    color: #ffffff;
    font-size: 14px;
}

footer .footer_1 {
    margin: 0 auto;
    background: #3c9cd3;
    text-align: center;
    height: 74px;
    padding: 20px;
    color: #ffffff;
}

.mj_info_footer_ul {
    position: relative;
    bottom: 0;
    margin: 20px 0;
    margin-bottom: 0;
}

.mj_info_footer_ul li {
    display: inline-block;
}

.mj_crcle {
    display: inline-block;
    position: relative;
    width: 5px;
    height: 5px;
    top:-2px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 5px;
    margin-right: 2px;
    behavior: url("../css/ie-css3.htc");
    behavior: url("../css/ie-css3-radius.htc");
}

.mj_info_footer_ul li a {
    color: #ffffff;
    font-size: 12px;
}

.footer_2{
    margin: 0 auto;
    height: 33px;
    background: #1c1b29;
    text-align: center;
    color:#ffffff;
    line-height: 33px;
    font-size: 12px;
}
/*** 中间结束部分*/

#gopng_icon_wen_outer {
    height: 75px;
    width: 75px;
    overflow: hidden;
}

#gopng_icon_wen {
    background: url(../img/sprite.png) -0px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 0px;
    _margin-left: -0px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_lian_outer {
    height: 74px;
    width: 74px;
    overflow: hidden;
}

#gopng_icon_lian {
    background: url(../img/sprite.png) -75px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 75px;
    _margin-left: -75px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_qq_outer {
    height: 21px;
    width: 19px;
    overflow: hidden;
}

#gopng_icon_qq {
    background: url(../img/sprite.png) -149px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 149px;
    _margin-left: -149px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_xl_outer {
    height: 21px;
    width: 24px;
    overflow: hidden;
}

#gopng_icon_xl {
    background: url(../img/sprite.png) -168px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 168px;
    _margin-left: -168px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_wechat_outer {
    height: 21px;
    width: 24px;
    overflow: hidden;
}

#gopng_icon_wechat {
    background: url(../img/sprite.png) -192px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 192px;
    _margin-left: -192px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_code_outer {
    height: 19px;
    width: 22px;
    overflow: hidden;
}

#gopng_icon_code {
    background: url(../img/sprite.png) -216px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 216px;
    _margin-left: -216px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_wz_outer {
    height: 19px;
    width: 23px;
    overflow: hidden;
}

#gopng_icon_wz {
    background: url(../img/sprite.png) -238px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 238px;
    _margin-left: -238px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_person_outer {
    height: 17px;
    width: 23px;
    overflow: hidden;
}

#gopng_icon_person {
    background: url(../img/sprite.png) -261px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 261px;
    _margin-left: -261px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_fax_outer {
    height: 16px;
    width: 21px;
    overflow: hidden;
}

#gopng_icon_fax {
    background: url(../img/sprite.png) -284px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 284px;
    _margin-left: -284px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_phone_outer {
    height: 14px;
    width: 23px;
    overflow: hidden;
}

#gopng_icon_phone {
    background: url(../img/sprite.png) -305px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 305px;
    _margin-left: -305px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}

#gopng_icon_mailbox_outer {
    height: 12px;
    width: 21px;
    overflow: hidden;
}

#gopng_icon_mailbox {
    background: url(../img/sprite.png) -328px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 328px;
    _margin-left: -328px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../img/sprite.png");
}
